/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font-weight:normal;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; color:#00e; }
a:visited {color: #551A8B;}

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* Base font settings */
body {
  font:13px/1.231 sans-serif;
}

/* Redirect styling */
.rdir {
    padding: 0.5em 0.5em 0.5em 25px;
    font-size: 0.875em;
    background: #E7E7E7 url(img/info-16x16.png) no-repeat 0.5em 50%;
    background-size: 16px 16px;
}
.rdir a {
    margin-left: 1em;
    white-space: nowrap;
}
.rdir .seng {
    font-weight: bold;
}

/* Top list layout */
.tb {
    padding: 0.25em 0;
    border-bottom: 1px solid;
}
.tb ul, .lnks {
    list-style-type: none;
}
.tb li, .lnks li {
    display: inline;
    padding: 0 0.5em;
}
.tb .verts {
    float: left;
}
.tb .lnks {
    text-align: right;
}
.lnks li {
    border-left: 1px solid #000;
}
.lnks li.fst {
    border-left: none;
}

/* Container max widths */
.hcnt, .mcnt, .fcnt {
    margin: 0 auto;
    max-width: 1144px;
    min-width: 780px;
    position: relative;
    clear: both;
}

/* Column layout */
.mcnt {
    border-top: 1px solid;
    padding: 0.5em 0;
}
.rslts {
    margin-left: 12em;  /* lc + lc pad */
    margin-right: 20em; /* rc + rc pad */
    padding: 0 0.5em;
    border-left: 1px solid;
}
.noads .irslts {
    margin-right: 0;
}
.mcnt .verts, .mcnt .acol, .mcnt .abt {
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
}
.mcnt .verts, .mcnt .abt {
    width: 11em;
    padding: 0 0.5em;
    list-style-type: none;
}
.mcnt .acol {
    right: 0;
    width: 17em;
    padding: 0 2.5em 0 0.5em;
    border-left: 1px solid;
}

/* Position the about box */
.vrt-0 .mcnt .abt { top: 1em; }
.vrt-1 .mcnt .abt { top: 4em; }
.vrt-2 .mcnt .abt { top: 6em; }
.vrt-3 .mcnt .abt { top: 8em; }
.vrt-4 .mcnt .abt { top: 10em; }
.vrt-5 .mcnt .abt { top: 12em; }
.vrt-6 .mcnt .abt { top: 14em; }
.vrt-7 .mcnt .abt { top: 16em; }
.vrt-8 .mcnt .abt { top: 18em; }
.vrt-9 .mcnt .abt { top: 20em; }

.mcnt .abt dt,
.mcnt .abt dd {
    font-size: 0.875em;
}
.mcnt .abt dt {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.mcnt .abt a {
    font-size: 0.875em;
    margin: 0.5em 3em;
    display: block;
}
/* Header and search box style */
.hcnt {
    margin: 1em auto 0.5em auto;
    min-height: 6em;
}
.logo {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 6em;
}

h1 label {
    font-size: 2em;
}

.hcnt .srch {
    margin-right: 20em;    /* same as right column */
    padding: 0 0.5em 0 12.5em; /* logo + logo pad on left */
}
.srchbx {
    font-size: 1.385em;
    border: 1px solid;
    padding: 0 0.5em 0.1em 0.5em;
    width: 75%;
}
.cnt, .blks {
    margin: 0.5em;
    font-size: 0.846em;
    float: left;
}
.blt {
    clear: both;
    color: #767676;
}
.blks .num,
.blt .word {
    font-weight: bold;
}

/* Search result layout */
.rslt {
    margin: 0.5em 0.5em 1em 0.5em;
}
.rslt h3 {
    font-size: 1.231em;
}
.rslt .url {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.rslt .ad-det span {
    display: inline-block;
}
.rslt b {
    font-weight: bold;
}
.rslt .flag {
    font-size: 0.846em;
}
.wrslt .flag, .nrslt .flag {
    float: right;
}
.ow-ablk {
    padding: 0.5em;
    margin-bottom: 1em;
}
.ow-ablk .rslt {
    margin: 1em 0 0 0;
}
.ow-ablk .rslt-f {
    margin-top: 0;
}
.ow-ablk h2 {
    float: right;
}
.ow-ablk .ad-det h2 {
    display: inline-block;
    margin-left: 1em;
    float: none;
}
.lr-ablk h2 {
    margin-left: 0.5em;
}
.ow-ablk h2, .lr-ablk h2 {
    font-size: 0.846em;
    color:#777;
}
.ow-ablk h2 a:visited, .lr-ablk h2 a:visited {
    color:#00e;
}
.tm-ablk {
    display: none;
}
.ddcjs .ablk {
    visibility: hidden;
}
.ddcjs .ow-ablk {
    padding: 0em;
    margin: 0em;
}
.asns .ow-ablk {
    padding: 0em;
    height: 0em;
}
.asns .ow-ablk iframe {
    margin: 0.25em;
}
.irslt {
    display:inline-block;            
    #zoom: 1; 
    #display:inline; 
    vertical-align:middle;
    #vertical-align: auto;    

    min-width: 12.5em;
    text-align: center;
    width: 23%;
}
.irslt .imgdet {
    display: block;
}
.irslt .imgdim {
    padding: 0 0.5em;
}
.irslt .imgsz {
    padding: 0 0.4em;
    border-left: 1px solid;
}
.irslt img {
    border: 1px solid;
}

/* No results */
.nr {
    font-size: 1.231em;
    margin: 2em 1em 10em 1em;
}
.nr .st {
    font-weight: bold;
}
.exc {
    margin-bottom: 1em;
}
.rd {
    font-size: 0.75em;
}

/* Spelling results */
.sp {
    font-size: 1.231em;
    margin: 0.5em 1em;
    color: #900;
}
.sp .st {
    font-weight: bold;
}

/* Other search engines */
.osch {
    background-color: #E7E7E7;
    margin: 0.5em 0 0;
    padding: 0.5em;
}
.osch .lnks {
    display: inline;
}

/* Leftnav layout */
.mcnt .verts li {
    margin: 0.5em;
    font-size: 1.154em;
}
.mcnt .verts a {
    text-decoration: none;
    padding: 0.25em 0 0.25em 1.33em;
}
.sel a {
    color: #000;
    text-decoration: none;
    cursor: default;
    font-weight: bold;
}

/* Next/Previous layout */
.nav {
    text-align: center;
    margin-bottom: 0.5em;
}
.nav a {
    margin: 1em;
    font-size: 1.154em;
}

/* Footer layout */
.fcnt {
    border-top: 1px solid;
    padding: 0.5em;
}
.fcnt .lnks {
    float: left;
    font-size: 0.846em;
    text-align: center;
}
.footer {
    height: 1.5em;
    font-size: 0.846em;
    text-align: right;
    padding-right: 6.25em;
    line-height: 1.6em;
    visibility: hidden;
}
.copyright {
    font-size: 0.693em;
    text-align: center;
}

/* Main page layout */
.main .mcnt {
    display: none;
}
.main .hcnt, .main .fcnt,
.cont .hcnt, .cont .fcnt {
    max-width: inherit;
    min-width: inherit;
}
.main .hcnt {
    margin: 0 0 5em 0;
    padding: 5em;
}
.cont .hcnt {
    margin: 0 0 1em 0;
    padding: 1em 5em 0em 5em;
}
.main .logo,
.cont .logo {
    font-size: 3em;
    height: 2em;
    position: relative;
    margin: 0 auto 0.5em auto;
    line-height: 2em;
    padding-left: 2.5em;
}
.main label,
.cont label {
    font-size: 1em;
}
.main .logo label,
.cont .logo label {
    display: block;
}
.plist dt,
.faq dt {
    font-weight: bold;
    font-size: 1.385em;
    margin-bottom: 0.25em;
}
.plist dd,
.faq dd {
    margin-bottom: 1.5em;
}
.cont p {
    margin-bottom: 1.5em;
}
.cont b {
    font-weight: bold;
}
.plist ol {
    padding-left: 3em;
}
.main .srch {
    margin: 0 auto;
    text-align: center;
    padding: 0 0.5em;
}
.main .srchbx {
    width: 20em;
}
/* Colors and styles */
.rslt .url, .rslt .url a {
    color: #0E774A;    
}
.tb, .rslts, .mcnt, .mcnt .acol, .fcnt {
    border-color: #D3E1F9;
}
.srchbx {
    border-color: #CCC;
    border-bottom-color: #999;
}
.srchbx:focus {
    border-color: #00C;
    border-bottom-color: #009;
}
.ow-ablk {
    background-color: #FFF8DD;
}
.irslt .imgsz,
.irslt .imgdim {
    color: #666;
}
.irslt .imgsz {
    border-color: #666;
}
.logo {
    background-size: 78px 78px;
}
.main .logo,
.cont .logo {
    background-size: 78px 78px;
}
.footer {
    background: transparent url(img/bc-12x65.png) no-repeat right;
    background-size: 65px 12px;
}
.mcnt .verts .wvert {
    background: #FFF url(img/web-14x14.png) no-repeat 0 0;
    background-size: 14px 14px;
}
.mcnt .verts .ivert {
    background: #FFF url(img/images-14x14.png) no-repeat 0 0;
    background-size: 14px 14px;
}
.mcnt .verts .nvert {
    background: #FFF url(img/news-14x14.png) no-repeat 0 0;
    background-size: 14px 14px;
}
h1 label {
    color: #009 !important;
    white-space: nowrap;
}
.plist dt {
    background: #FFF url(img/arrows.png) no-repeat 0 -2px;
    background-size: 25px auto;
    padding-left: 25px;
}
.plist dt a {
    text-decoration: none;
    color: #009;
}
.plist dt a:hover {
    text-decoration: underline;
}
.plist img {
    display: block;
    width: 20em;
    margin-left: 2em;
}
.plist li {
    margin-bottom: 0.5em;
}

/* Behavior */
.plist dd {
    display: none;
}
.plist dd.open {
    display: block;
}
.plist dt.open {
    background-position: 0 -79px;
}
#us {
    display: none;
    color: #600;
    font-weight: bold;
}
.nosupport {
    display: block !important;
}

/* Narrow styles - match max-width to header min-width + footer padding */
@media screen and (max-width: 793px) {
    html, body * {
        /* Don't resize text in mobile safari */
        -webkit-text-size-adjust:100%;
    }
    /* Reset column layout */
    .hcnt, .mcnt, .fcnt {
        min-width: inherit;
    }
    .main .hcnt,
    .cont .hcnt {
        padding: 0.5em;
    }

    .rslts, .srch, .hcnt .srch {
        margin: 0;
    }
    .mcnt .verts, .mcnt .acol, .mcnt .abt {
        display: none;
    }
    .rslts {
        border-left: none;
    }
    .tm-ablk {
        display: block;
    }
    .tb-ablk {
        display: none;
    }
    .irslt {
        width: 45%;
        min-width: 10em;
    }
    .irslt img {
        width: 9.5em;
    }
    .plist img {
        margin-left: 0.5em;
    }
    
    /* Don't float the results */
    .cnt, .blks {
        float: none;
    }
    .cnt {
        margin-bottom: 0.25em;
    }
    .blks {
        margin-top: 0.25em;
    }
    .blt {
        margin-left: -90px;
        font-size: 0.9em;
    }
    
    /* Resize the logo */
    .logo {
        width: 7em;
        background-position: 0.5em 0;
    }
    .hcnt .srch {
        padding-left: 8.1em;
    }    
    .rslts .srch {
        text-align: center;
    }
    .srchbx {
        font-size: 1em;
        width: 60%;
    }
    h1 label {
        font-size: 1.75em;
        white-space: nowrap;
    }
    .nr {
        margin: 2em 1em;
    }
    
    /* And stuff on main */
    .main .logo,
    .cont .logo {
        font-size: 2.25em;
        padding-left: 3em;
        height: 3em;
    }
    .srchbdy .logo {
        width: 7.5em;
    }
    .main .logo label,
    .cont .logo label {
        line-height: 3em;
    }
    .main .srch {
        padding-left: 0em;
    }
    .main .srchbx {
        width: 70%;
    }
    .lnks .lnkprv {
        display: none;
    }
}

/* Retina display images */
@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2) {
    .footer {
        background-image: url(img/bc-24x130.png);
    }
    .mcnt .verts .wvert {
        background-image: url(img/web-28x28.png);
    }
    .mcnt .verts .ivert {
        background-image: url(img/images-28x28.png);
    }
    .mcnt .verts .nvert {
        background-image: url(img/news-28x28.png);
    }
    .rdir {
        background-image: url(img/info-32x32.png);
    }
    .plist dt {
        background-image: url(img/arrows@2x.png);
    }
}
